#container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    position: relative;
    height: 100%;
    width: 100%;
    border: 1px white solid;

}

#header{
    background: white;
    order: 1;
    width: 100%;
}

#main{
    background: rgb(163, 214, 163);
    order: 2;
    /* flex-basis: 100vh;
    flex-shrink: 1; */
    width: 100%;
    text-align: center;
    padding-bottom: 20vh;  /* heigh of footer */
    
}

#footer{
    /* background: rgb(255, 229, 33); */
    text-align: center;
    position: fixed;
    bottom: 0;


    display: flex;
    flex-direction: column;


    left: 10px;
    height: 20%;
    
    border: 1px rgb(255, 229, 33) solid;
    
    /* margin -10px */
    width: calc(100% - 20px);


    /* margin-bottom: env(safe-area-inset-bottom); */
}

#addEvent{
    text-align: center;
    width: calc(100% - 20px);

    /* margin: 0 auto; */

}


#legend{
    background: rgb(255, 229, 33);
    display: flex;
    flex-direction: row;
    width: 100%;
    color: black;
    margin: 0 auto;
}


#legendMain{
    display: flex;
    width: 80%;
    flex-wrap: wrap;

}

#legendContinue{
    width: 10%;
}

#buterClick{
    width: 10%;
    background: rgb(252, 174, 134);
}



#buter{
    background: rgb(162, 214, 208);
    text-align: center;
    position: fixed;
    top: 0;
    right: 9px;
    height: 100%;
    
    width: auto;

    display: none;
    flex-direction: column;

}




#modalSetEvent{
    border: 1px white solid;
    text-align: center;
    width: 400px;
}

#modalChangeEventsOfDay {
    border: 1px whitesmoke solid;
    text-align: left;
    width: 80%;
}





#errorMessage{
    border: 3px rgb(255, 0, 0) solid;
    background: rgb(255, 234, 151);
    display: none;
    text-align: center;
    color: red;
    font-weight: bold;
    width: 400px;

    /* center */
    margin: 0 auto;
}

.Progress{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Date{
    /* width: 30%; */
    display: inline-flex;
    background-color: rgb(56, 110, 103);    
    height: 30px;
    align-items: center;
    justify-content:center;
    margin: 1px 0px;
}

.btnRem{
    /* width: 5%; */
    display: inline-flex;
    background-color: rgb(243, 83, 51);    
    height: 30px;
    align-items: center;
    justify-content:center;
    margin: 1px 0px;
}

.common3{
    /* width: 50%; */
    
    display: inline-flex;
  
    height: 30px;
    align-items: center;
    margin: 1px 0px;

}

.common4{
    /* width: 40%; */
    display: inline-flex;
  
    height: 30px;
    align-items: center;
    margin: 1px 0px;

}

.btnRem2{
    /* width: 10%; */
    display: inline-flex;
    background-color: rgb(243, 83, 51);    
    height: 30px;
    align-items: center;
    justify-content:center;
    margin: 1px 0px;
}

.common{
    display: inline-flex;  
    height: 30px;
    margin: 1px 0px;
    
}

.common2{
    width: 100%;
    display: inline-flex;
  
    height: 30px;
    align-items: center;
    margin: 1px 0px;

}

@media screen{
    body{
        margin: 10px;
        background: rgb(191, 191, 248);
    } 
}

@media screen and (max-width: 600px){
    body{
        background: rgb(63, 236, 181);
    }
}
