#mainFlex{
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px white solid;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#mainFlex div{
    color: white;
}

#header{
    background: rgb(238, 149, 149);
    order: 1;
    flex-basis: 100px;
    position: relative;
}

#main{
    background: rgb(163, 214, 163);
    order: 2;
    flex-basis: calc(100vh - 100px - 50px - 22px);
    flex-shrink: 1;
}

#main p{
    text-align: center;
}



#footer{
    background: rgb(161, 161, 211);
    text-align: center;
    order: 3;
    flex-basis: 50px;
}






#header2 {
    float: right;
    padding: 10px;
    height: 80px;
    display: flex;
    align-items:center;
    justify-content:center;
    width: 200px;
    transform: rotate(10deg);
    position: absolute;
    top: 20px;
    color:white;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt;
    text-align: center;
    border-radius: 20px;
    background-image: linear-gradient(135deg, rgb(240, 232, 128) 0%, lightgreen 70%);
    right: 20px;
    filter: drop-shadow(1px 1px 5px rgba(50,0,0,0.2));
}

#editorPlace{
    border: 1px white solid;
    display: none;
    text-align: center;
    width: 200px;

    /* center */
    margin: 0 auto;
}



#ProgressMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.Progress {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Date {
    width: 10%;
    display: inline-flex;
    background-color: rgb(56, 110, 103);    
    height: 30px;
    align-items: center;
    justify-content:center;

}
.Red {
    display: inline-flex;
    background-color: red;    
    height: 30px;
}
.Green {
    display: inline-flex;
    background-color: green;    
    height: 30px;
}
.Blue {
    display: inline-flex;
    background-color: blue;    
    height: 30px;
}



@media screen {
    body{
        margin: 10px;
        background: rgb(191, 191, 248);
    } 
}

@media screen and (max-width: 600px) {
    body{
        background: rgb(63, 236, 181);
    }
}

