html {
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-image: linear-gradient(45deg, 
    #ededed 25%, 
    #e0e0e0 25%, 
    #e0e0e0 50%, 
    #ededed 50%, 
    #ededed 75%, 
    #e0e0e0 75%, 
    #e0e0e0 100%);
    background-size: 56.57px 56.57px;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
    width: 100%;
    border: 0;
}

@media screen {
    dialog {
        width: fit-content;
    }
}

@media screen and (max-width: 600px) {
    dialog {
        width: 100%;
    }
}

.mainNight, .mainDay {
    order: 2;
    width: 100%;
    text-align: center;
    padding-bottom: calc(5rem + 2.4rem - 2px);  /* height of footer */
}

.mainDay {
    background: inherit;
}

.mainNight {
    background: #607560;
}

#footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    height: fit-content;
    width: 100%;
}

#addEvent {
    width: 100%;
    height: 5rem; 
    display: flex;
    align-items: center;
    justify-content: center;    
}

#btnAddEvent {
    padding: 10px;
    border-radius: 45px;
    background-color: rgb(124, 233, 157);    
    height: 1.2rem;
    width: 1.2rem;
    /* transform: scale(1); */
    cursor: pointer;
}

#legendMain {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    height: calc(2.4rem - 2px);
    order: 0;
    flex-grow: 1;
    
}

.legendLabel {
    padding: 4px 10px;
    margin: 1px;
    border-radius: 20px;
    font-size: 1.2rem;
}

#legendTogglerClick {
    order: 2;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#legendContinue {
    order: 1;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btnLegend {
    height: 1.2rem;
    width: 1.2rem;
    /* transform: scale(1); */
}

#btnToggler {
    height: 1.2rem;
    width: 1.2rem;
    /* transform: scale(1); */
}

#toggler {
    /* background: rgb(162, 214, 208); */
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    height: auto;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
    font-size: 1.2rem;
    justify-content: flex-end;
}

#togglerStat {
    background: rgb(153, 171, 169);
    order: 0;
}

#togglerExport {
    background: rgb(37, 182, 78);
    order: 1;
}

#togglerImport {
    background: rgb(193, 222, 201);
    display: flex;
    flex-direction: column;
    order: 2;
}

/* #togglerTheme {
    background: rgb(96, 140, 147);
    order: 3;
} */

#togglerVoid {
    background: rgb(137, 137, 137);
    order: 3;
}

#togglerClear {
    background: rgb(141, 45, 40);
    order: 4;
}

#togglerName {
    order: 5;
    background: rgb(127, 212, 106);
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0.5rem 0rem;
}

#togglerClose {
    /* background: rgb(255, 255, 255); */
    order: 6;
    height: calc(2.2rem + 1px);
    display: flex;
}

#togglerCloseBeforeBtn {
    order: 2;
}

#btnTogglerClose {
    /* height: 1.2rem; */
    width: 1.2rem;
    /* transform: scale(1); */
}

#togglerContact {
    background: rgb(127, 212, 106);
    flex-grow: 1;
    order: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

#togglerCloseBeforeBtn {
    padding: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modalAddEvent {
    border: 1px white solid;
    text-align: center;
    max-width: 50%;
    min-width: fit-content;
}

#modalDayEditor {
    border: 1px whitesmoke solid;
    text-align: left;
    width: 80%;
}

#modalStat {
    border: 3px rgb(185, 236, 115) solid;
    text-align: left;
    width: 70%;
}

#errorMessage {
    border: 3px rgb(255, 0, 0) solid;
    background: rgb(255, 234, 151);
    display: none;
    text-align: center;
    color: red;
    font-weight: bold;
    width: 400px;
}

.Progress {
    width: 100%;
    display: flex;
    flex-direction: row;
}

a {
    color: inherit;
    text-decoration: none;
}

.Date {
    display: inline-flex;
    background-color:#ffffff;
    color: #505050;
    height: 30px;
    align-items: center;
    justify-content:center;
    margin: 1px 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#header {
    padding-right: 0.5rem; 
    order: 1;
    width: calc(100% - 0.5rem);
    color: #505050;
    background: rgba(255, 255, 255, 0.5);

    text-align: right;
    /* position: absolute; */
}

#legend {
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    height: calc(2.4rem - 2px);
    align-items: stretch;
}

.btnRem {
    display: inline-flex;
    background-color: rgb(243, 83, 51);    
    height: 30px;
    align-items: center;
    justify-content:center;
    margin: 1px 0px;
}

.btnRem2 {
    display: inline-flex;
    background-color: rgb(243, 83, 51);    
    height: 30px;
    align-items: center;
    justify-content:center;
    margin: 1px 0px;
}

.common {
    display: inline-flex;
    height: 30px;
    align-items: center;
    margin: 1px 0px;
}

.common2 {
    display: inline-flex;
    height: 30px;
    width: 100%;
    align-items: center;
    margin: 1px 0px;
}

#progressBarLines {
    width: 100%;
}



/* CHANGE!!! */
#toggler a {
    color: rgb(15, 39, 196);
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    color: white;
    background-color: rgb(127, 212, 106);
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(17, 141, 25);
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}